[submodule "src/webots_ros2"]
	path = src/webots_ros2
	url = https://github.com/cyberbotics/webots_ros2
[submodule "src/webots_ros2_jetbot"]
	path = src/webots_ros2_jetbot
	url = https://github.com/matthew-william-lock/webots_ros2_jetbot
[submodule "src/ros2_numpy"]
	path = src/ros2_numpy
	url = https://github.com/Box-Robotics/ros2_numpy
[submodule "src/ros2_detect_blue"]
	path = src/ros2_detect_blue
	url = https://github.com/matthew-william-lock/ros2_detect_blue
